{% extends 'base.html' %}
{% block content %}

{% for messages in get_flashed_messages() %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            {{messages}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   
{% endfor %}


{% if name %}
    <h1>Hello {{name}} !!!</h1>
{% else %}
    <h1>What is Your Name</h1>
    <br/>
    <form method ="POST">
        {{flask_form.hidden_tag()}}
        {{flask_form.name_input.label(class="form-label")}}
        {{flask_form.name_input(class="form-control")}}
        <br/>
        {{flask_form.submit_btn(class="btn btn-success")}}
    </form>
    
{% endif %}

{% endblock %}